body, ul {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}
  
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #222;
}

#navbar {
  background-color: #556;
  padding: 0 2.6%;
  display: table;
  width: 100%;
  box-sizing: border-box;
}

#navbar ul {
  display: table-cell;
  vertical-align: middle;
}

#navbar li {
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
}

#navbar li a {
  color: white;
  padding: 0 18px;
  display: block;
}

#navbar li .phone,
#navbar li .user,
#navbar li .cart {
  color: #FF4500;
  font-size: 18px;
}

#navbar .nav-brand .image {
  padding: 9px;
}

#navbar .nav-main {
  margin: 0 22.5%;
}

#navbar .nav-user {
  width: 4%;
}
