body {
  background-color: #333;
  color: white;
}

.parent {
  border: 5px solid black;
  padding: 5px;
  margin: 20px;
  width: 300px;
  height: 300px;
  position: relative;
}

.parent .child-1 {
  background-color: orange;
  width: 200px;
  height: 200px;
}

.parent .child-2 {
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -105px;
  right: -105px;
  /* HW2: 
    How much bottom and right must have to be outside border? And why? */
 /*  Answer:
  The class "child-2" must have properties bottom and right - 105 px.
  The 100 px not enought, because the parent of class .parent have border width 5px.
  And we must to properties of bottom and right add width of border: 100px + 5px = 105px;*/
}
