html {
  height: 100%;
}

body {
  margin: 0;
  color: white;
  font-size: 30px;
  background-image:
    radial-gradient(#888, #222);
  background-repeat: no-repeat;
  height: 100%;
}

.carousel {
  width: 400px;
  height: 500px;
  position: relative;
  perspective: 1000px;
  top: 45px;
  left: 350px;
}

.carousel .slide {
  width: 400px;
  height: 500px;
  position: absolute;
  transition:
    transform 1s,
    z-index 1s 0.8s;
}

.carousel .slide a {
  position: absolute;
  right: -20px;
  top: 50%;
}

.carousel .slide a::after {
  content: url(https://icons.iconarchive.com/icons/iconsmind/outline/48/Arrow-RightinCircle-icon.png);
  background-color: #fff8;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  display: block;
  padding: 3px;
}

.carousel .layer {
  background: linear-gradient(
    to top left,
    #0005,
    #fff8
  );
  content: '';
  width: 400px;
  height: 500px;
  position: absolute;
  right: 0;
  top: 0;
}

.carousel .slide:nth-child(1) {
  transform: rotateY(-30deg) translateZ(-400px);
}

.carousel .slide:nth-child(2) {
  transform: rotateY(-30deg) translateZ(-200px);
}

.carousel .slide:nth-child(3) {
  transform: rotateY(-30deg) translateZ(0px);
}

  /* CAROUSEL SLIDE STATES */
  /* state-3 */
#state-3:target .slide:nth-child(2) {
  transform: rotateY(-30deg) translateZ(0px);
  z-index: 3;
}

#state-3:target .slide:nth-child(1) {
  transform: rotateY(-30deg) translateZ(-200px);
  z-index: 2;
  filter: brightness(90%);
  opacity: 0.75;
}

#state-3:target .slide:nth-child(3) {
  transform: rotateY(-30deg) translateZ(-400px);
  z-index: 1;
  filter: brightness(80%);
  opacity: 0.5;
}

  /* state-2 */
#state-2:target .slide:nth-child(1) {
  transform: rotateY(-30deg) translateZ(0px);
  z-index: 3;
}

#state-2:target .slide:nth-child(3) {
  transform: rotateY(-30deg) translateZ(-200px);
  z-index: 2;
  filter: brightness(90%);
  opacity: 0.75;
}

#state-2:target .slide:nth-child(2) {
  transform: rotateY(-30deg) translateZ(-400px);
  z-index: 1;
  filter: brightness(80%);
  opacity: 0.5;
}

  /* state-1 */
#state-1:target .slide:nth-child(3) {
  transform: rotateY(-30deg) translateZ(0px);
  z-index: 3;
}

#state-1:target .slide:nth-child(2) {
  transform: rotateY(-30deg) translateZ(-200px);
  z-index: 2;
  filter: brightness(90%);
  opacity: 0.75;
}

#state-1:target .slide:nth-child(1) {
  transform: rotateY(-30deg) translateZ(-400px);
  z-index: 1;
  filter: brightness(80%);
  opacity: 0.5;
}
