.container {
  --size: 1em;
  --color: green;
}
  
.container > div {
  width: var(--size);
  height: var(--size);
  padding: var(--size);
  margin: calc(var(--size) / 10);
  background-color: var(--color);
}
  
  
.container > div:first-child, 
.container > div:last-child {
  --size: 2em;
}

.container .bg {
  --color: red;
}
